@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body-bg-color: #E7DFD8;
    --primary-text-color: #231F20;
}

body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-color);
}

.header {
    width: auto;
}

.header ul li {
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header ul li a:hover,
.header ul li a:focus {
    border-bottom: 2px solid var(--primary-text-color);
}

.content-header {
    width: auto;
    height: auto;
}

.content-subheader {
    width: auto;
    height: auto;
}

.content-header h1 {
    font-size: 2.7rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}

.content-subheader span {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
}

.media-sources > span a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.media-sources > span a:hover {
    border-bottom: 2px solid var(--primary-text-color);
}

.icons i {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

.icons a {
    text-decoration: none;
}

.icons a:hover {
    border-bottom: 2px solid var(--primary-text-color);
}

.image-container {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
}

.image-container:hover img {
    transform: scale(1.2);
}

.image-container:hover {
    opacity: .7;
}

.container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "blank";
    grid-row-gap: 20px;
}

.header {
    grid-area: header;   
}

.navbar {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px 0 0 0;
    place-items: center ;
}

.bio-link {
    grid-column: 2/ 3;
}

.portfolio-link {
    grid-column: 3 / 4;
}

.podcast-link {
    grid-column: 4 / 5;
}

.blog-link {
    grid-column: 5 / 6;
}

.main {
    grid-area: main;
}

.main {
    width: 90%;
    height: 70%;
    display: grid;
    margin: 0 0 0 4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    place-items: center;
    border: 1px solid black;
}

.content {
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    padding: 0 0 0 40px;
}

.social-accounts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.content-header {
    grid-row: 1 / 2;
}

.content-subheader {
    grid-row: 2 / 3;
}

.media-sources {
    grid-row: 6 / 7;
}

.blank {
    grid-area: blank;
}

.header > input[type="checkbox"] {
    display: none;
}

.icon {
    display: none;
    cursor: pointer;
}

@media (width <= 992px) {
    body {
        max-width: 100%;
        height: 120vh;
        overflow-x: hidden;
    }
    .main {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .content {
        width: auto;
        height: 100%;
        grid-area: 1 / 1 / 3 / 5;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px;
    }

    .social-accounts {
        grid-template-columns: repeat(12, 1fr);
    }

    .social-accounts .icons:nth-of-type(1) {
        grid-column: 1 / 3;
    }

    .social-accounts .icons:nth-of-type(2) {
        grid-column: 5 / 6;
    }

    .social-accounts .icons:nth-of-type(3) {
        grid-column: 8 / 9;
    }

    .social-accounts .icons:nth-of-type(4) {
        grid-column: 11 / 12;
    }

    .content-header {
        grid-area: 1 / 1 / 3 / 5;
    }

    .content-subheader {
        grid-area: 3 / 1 / 4 / 5;
    }

    .social-accounts {
        grid-area: 3 / 4 / 4 / 5;
    }

    .image-container {
        border-radius: 12px;
        
    }
}
 

@media (width <= 768px) {
    body {
        max-width: 100% !important;
        overflow-x: hidden;
    }

    .image-container {
        border-radius: 12px;
    }

    .main {
        width: 80%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .content {
        width: auto;
        height: 100%;
        grid-template-rows: repeat(6, 1fr);
        padding: 10px;
        place-items: center start;
        grid-area: 2 / 1 / 3 / 4;
    }

    .media-sources {
        grid-row: 5 / 6;
    }

    .social-accounts .icons:nth-of-type(1) {
        grid-column: 1 / 3;
    }

    .social-accounts .icons:nth-of-type(2) {
        grid-column: 3 / 5;
    }

    .social-accounts .icons:nth-of-type(3) {
        grid-column: 5 / 7;
    }

    .social-accounts .icons:nth-of-type(4) {
        grid-column: 7 / 8;
    }

    .image-container {
        grid-row: 1 / 2;
    }

    .icon {
        display: inline-flex;
        font-size: 20px;
    }

    #close-icon {
        display: none;
    }

    #check:checked + .icon #menu-icon {
        display: none;
    }

    #check:checked + .icon #close-icon {
        display: block;
    }

    .navbar ul li {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 28px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        z-index: 1000;
        transition: 0.3s ease;
    }

    .icon {
        position: relative;
        top: 12px;
        left: 30em;
    }

    #check:checked ~ .navbar {
        background-color: rgb(156, 153, 153);
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (width <= 600px) {
    body {
        overflow-x: hidden;
        
    }
    
    .image-container {
        border-radius: 12px;
        width: 300px;
        height: 300px;
    }

    .main {
        height: 60%;
    }

    .content {
        width: auto;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row: 2 / 4;
        padding: 10px;
    }

    .content-header {
        grid-row: 1 / 2;
    }

    .content-subheader {
        grid-row: 2 / 3;
    }


    .media-sources {
        grid-row: 5 / 6;
    }

    .content-header h1 {
        font-size: 2.0rem;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .content-subheader span {
        font-size: 16px;
        font-weight: 300;
    }

    .icon {
        max-width: 100%;
        position: relative;
        top: auto;
        left: 30rem;
    }
}

@media (width <= 500px) {
    .icon {
        left: 22em !important;
    }

    .main {
        width: 80%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .content {
        width: auto;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row: 2 / 4;
        padding: 10px;
    }

    .content-header {
        grid-row: 1 / 2;
    }

    .content-subheader {
        grid-row: 2 / 3;
    }

    .media-sources {
        grid-row: 3 / 5;
    }
}

@media (width <= 480px) {
    body {
        overflow: hidden;
        max-width: 100%;
    }
    .main {
        width: 75%;
        height: 95vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .icon {
        transform: translateX(-3rem);
    }

    .image-container {
        border-radius: 12px;
        width: 250px;
        height: 250px;
    }

    .content-header h1 {
        font-size: 1.8rem;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .content-subheader span {
        font-size: 14px;
        font-weight: 300;
    }

    .icons i {
        font-size: 1.2rem;
        color: var(--primary-text-color);
    }

    .content {
        width: auto;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        padding: 20px;
    }

    .header ul li a {
        font-size: 1rem;
    }
}

@media (width <= 400px) {
    .icon {
        transform: translateX(-8rem);
    }
    
    .image-container {
        border-radius: 12px;
        width: 200px;
        height: 200px;
    }

    .main {
        width: 70%;
        height: 90vh;
        border: 1px solid black;
    }
}